.singup{
  text-align: center;
   color: #550000;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #FFFFFF;
   border: #864545 solid 5px;
   border-radius: 20px;
   padding: 20px;
}
header
{
   
}
body{
   background-color: #FFAAAA;
}
input{
   margin: 5px;
}
.container{
    display:flex;
     justify-content:space-between;
   
   }
      
   p{color:#550000;
   }
   
   img {
   width:200px;
   height:200px;
   display: flex;
   justify-content: space-around;
   }
   .verh
   {background-image:url(https://github.com/ainalim/logo-/blob/main/Untitled52.png?raw=true);   }
   .icons{
     height: 100px;
     width: 150px;
    
   }
   
   header img{
   width: 100px;
   height: 100px;
   }
   
   header h1{
     text-decoration:none;
   font-family:Arial Narrow, sans-serif;
   text-align:center;
   font-size:50p}
   
   
   nav a{
   
   color:#FFFFFF; 
   font-family: monospace;
   font-size: 20px;
   }
   
   
   .lan{
     text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
   padding: 10px;
   }

   .galery{color:#550000;
   border: #550000 solid;
   background-color:#F1C8C8;
   border-radius: 7px;
   text-decoration: none;
   padding: 3px;
    }


   
   .xie{
     Display:flex;
     Justify-content: space-around;
   
   }
   
   .galery1{color:#D46A6A;
    border: #D46A6A solid;
   background-color: #F1C8C8;
   border-radius: 7px;
   flex-wrap: wrap;  
    opacity: 0.6;
    text-decoration: none;
   padding: 3px;
     }

.galery1:hover {
    opacity: 1;
    transition: 0.5s ease-out;}

    .poisk{
     width: 600px;
     height: 50px;
     display: flex;
     justify-content: space-around;
     background-color: #ffdede;
     border-radius:18px;
     border: #550000 solid 3px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size:15px;
     
   }
   .poshuk{
    display: flex;
    justify-content: center;
   }
   .vhod{color:#D46A6A;
    border: #D46A6A solid;
   background-color: #F1C8C8;
   border-radius: 7px;
   flex-wrap: wrap;  
    opacity: 0.6;
    text-decoration: none;
  
  padding: 3px;
     }

.vhod:hover {
    opacity: 1;
    transition: 0.5s ease-out;}
    .vhod{
      margin-top: 100px;
    }
   
   
    .delete{
      color: #550000;
      background-color:#F1C8C8;
border: #D46A6A 5px groove ;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .ok{
      color: #550000;
     background-color:#F1C8C8;
border: #D46A6A 5px groove ; 
text-align: center;
width: 110px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
.okno{
     display: flex;
     align-items: center;
    justify-content: center;}
    
       .knopka{
      background-color:#FFAAAA;
      border-radius: 18px;
      border: #550000 solid 3px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: -50px;
      height: 50px;
      margin-top: 5px;
    }
    .roxie{
      background-color: #F1C8C8;
      border-radius: 15px;

    }
    .veronika{
      border: #550000 solid 3px;
      background-color: #f7e5e5;
      border-radius: 10px;
    }
     
